*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eae5d0;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'IBMMonoBold', monospace;
    font-size: 50pt;
    color: black;
    margin-top: 15%;
}

a{
    font-family: 'IBMMono', monospace;
    color: black;
    text-align: center;
    font-size:32pt;
}